@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-customers:before {
  content: "\e901";
}

._icon-dashboard:before {
  content: "\e902";
}

._icon-help:before {
  content: "\e903";
}

._icon-income:before {
  content: "\e904";
}

._icon-product:before {
  content: "\e905";
}

._icon-promote:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-logo:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #292d32;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background-color: #fafbff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 62rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 0 0 19.125rem;
  padding: 0 4.4375rem;
}

@supports (padding-right: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem )) {
  [class*=__container] {
    padding-right: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem )) {
  [class*=__container] {
    padding-right: calc(1.875rem + 2.5625 * (100vw - 61.9375rem) / 28);
  }
}

@supports (padding-left: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem )) {
  [class*=__container] {
    padding-left: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , -3.7933872768rem  +  9.1517857143vw , 4.4375rem )) {
  [class*=__container] {
    padding-left: calc(1.875rem + 2.5625 * (100vw - 61.9375rem) / 28);
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.pagination-button {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  font-size: 0.75rem;
  font-weight: 500;
  color: #404b52;
  -webkit-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

html.pc .pagination-button:hover {
  background-color: #404b52;
  color: #f5f5f5;
}

.pagination-button:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
          box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
}

.pagination-button--active {
  background-color: #5932ea;
  border: 1px solid #5932ea;
  color: #fff;
}

html.pc .pagination-button--active:hover {
  background-color: #5932ea;
  color: #fff;
}

.sidebar {
  height: 100%;
  background-color: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.3125rem;
  padding: 1.75rem;
  max-width: 19.125rem;
  overflow: auto;
  -webkit-box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
          box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}

.sidebar__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15.625rem;
  padding: 0.6875rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

.sidebar__link.sidebar__link--active {
  background-color: #5932ea;
}

.sidebar__link.sidebar__link--active .sidebar__arrow,
.sidebar__link.sidebar__link--active .sidebar__text,
.sidebar__link.sidebar__link--active .sidebar__icon {
  color: #fff;
}

.sidebar__link.sidebar__link--active .sidebar__arrow::before,
.sidebar__link.sidebar__link--active .sidebar__text::before,
.sidebar__link.sidebar__link--active .sidebar__icon::before {
  color: #fff;
}

html.pc .sidebar__link.sidebar__link--active:hover {
  background-color: #5932ea;
}

html.pc .sidebar__link:hover {
  background-color: #9197b3;
}

html.pc .sidebar__link:hover .sidebar__arrow,
html.pc .sidebar__link:hover .sidebar__text,
html.pc .sidebar__link:hover .sidebar__icon {
  color: #fff;
}

html.pc .sidebar__link:hover .sidebar__arrow::before,
html.pc .sidebar__link:hover .sidebar__text::before,
html.pc .sidebar__link:hover .sidebar__icon::before {
  color: #fff;
}

.sidebar__link:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
          box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
}

.sidebar__icon {
  font-size: 1.5rem;
  padding-right: 0.875rem;
}

.sidebar__icon::before {
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  color: #9197b3;
}

.sidebar__arrow::before {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #9197b3;
}

.sidebar__text {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: #9197b3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__img {
  border-radius: 50%;
  width: 2.625rem;
  height: 2.625rem;
}

.user__info {
  padding-left: 0.75rem;
}

.user__name {
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: 500;
}

.user__position {
  line-height: 1.5;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  color: #757575;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.logo__icon {
  font-size: 2.3125rem;
}

.logo__text {
  color: #000;
  letter-spacing: 0.01em;
  font-size: 1.625rem;
  font-weight: 600;
}

.logo__version {
  font-weight: 500;
  letter-spacing: -0.01em;
  padding-left: 0.25rem;
  color: #838383;
  font-size: 0.75rem;
}

.title {
  position: sticky;
  top: 0;
}

.title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  padding-top: 2.5625rem !important;
  padding-bottom: 2.5625rem !important;
}

.title__burger {
  display: none;
}

.title__burger.title__burger--active {
  margin-left: 19.125rem;
}

.title__burger.title__burger--active::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.title__burger.title__burger--active::after {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title__burger.title__burger--active span {
  width: 0;
}

.title__title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}

.customer {
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
}

.customer__body {
  width: 100%;
  max-width: 60.5rem;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
          box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}

.customer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 3.3125rem 2.5rem 2.375rem;
}

.customer-head__title {
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #000;
  line-height: 1.5;
}

.customer-head__subtitle {
  line-height: 1.5;
  font-size: 0.875rem;
  letter-spacing: -0.01em;
  color: #16c098;
}

.customer-head__right {
  position: relative;
}

.customer-head__input {
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
  border-radius: 10px;
  background-color: #f9fbff;
}

.customer-head__input:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
          box-shadow: 0 0px 10px 0 rgb(196, 206, 219);
}

.customer-head__input::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-head__input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-head__input:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-head__input::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-head__input::placeholder {
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-head__icon {
  color: #7e7e7e;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  position: absolute;
}

.customer-table {
  position: relative;
}

.customer-table::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2.5rem;
  right: -0.0625rem;
  top: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(75%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}

.customer-table::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2.5rem;
  left: 0rem;
  top: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(75%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}

.customer-table__scroll {
  padding-left: 2.375rem;
  padding-right: 2.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.customer-table__table {
  border-collapse: collapse;
  width: 100%;
  min-width: 46.875rem;
}

.customer-table__table td:last-child {
  width: 5.25rem;
}

.customer-table__thead {
  color: #b5b7c0;
}

.customer-table__thead::after {
  content: "";
  left: 0;
  z-index: 2;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.customer-table__thead td {
  padding-bottom: 0.875rem;
}

.customer-table__tbody {
  letter-spacing: -0.01em;
  font-weight: 500;
}

.customer-table__tbody td {
  padding: 1.25rem 0;
}

.customer-table__tbody tr {
  border-bottom: 1px solid #eeeeee;
}

.customer-table__status {
  display: block;
  text-align: center;
  width: 5.25rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 0.25rem 0;
}

.customer-table__status--active {
  background: #a6e7d8;
  border: 1px solid #008767;
  color: #008767;
}

.customer-table__status--inactive {
  background: #ffc5c5;
  border: 1px solid #df0404;
  color: #df0404;
}

.customer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  padding: 1.875rem 2.5rem 2.5rem 2.375rem;
}

.customer-footer__text {
  letter-spacing: -0.01em;
  color: #b5b7c0;
  font-weight: 500;
}

.customer-footer__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.customer-footer__ellipsis {
  padding-top: 0.3125rem;
}

@media (min-width: 89.9375em) {
  [class*=__container] {
    padding-right: inherit;
  }

  [class*=__container] {
    padding-left: inherit;
  }
}

@media (min-width: 90rem) {
  [class*=__container] {
    padding: 0 4.4375rem;
  }
}

@media (max-width: 61.9375em) {
  [class*=__container] {
    padding-right: inherit;
  }

  [class*=__container] {
    padding-left: inherit;
  }
}

@media (max-width: 61.9375rem) {
  [class*=__container] {
    padding: 0 1.875rem;
    margin: 0;
  }

  .sidebar {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 3;
  }

  html.loaded .sidebar {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .sidebar.sidebar--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .title__burger {
    display: block;
    position: absolute;
    width: 1.875rem;
    height: 1.125rem;
    /* Увеличенная высота контейнера */
    cursor: pointer;
    z-index: 5;
    -webkit-transition: margin 0.3s ease 0s;
    transition: margin 0.3s ease 0s;
  }

  .title__burger span,
  .title__burger::before,
  .title__burger::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    border-radius: 1px;
    height: 0.125rem;
    background-color: #292d32;
  }

  .title__burger::before {
    top: 0;
  }

  .title__burger::after {
    bottom: 0;
  }

  .title__burger span {
    -webkit-transition: width 0.3s ease 0s !important;
    transition: width 0.3s ease 0s !important;
    top: calc(50% - 0.0625rem);
  }

  .title__title {
    padding-left: 3.125rem;
  }
}

@media (max-width: 48rem) {
  [class*=__container] {
    padding: 0 0.9375rem;
    margin: 0;
  }

  .sidebar {
    padding: 1.25rem;
    max-width: 16.25rem;
  }

  .sidebar__link {
    width: auto;
    max-width: 15.625rem;
  }

  .title__burger.title__burger--active {
    margin-left: 16.25rem;
  }

  .customer-table::after {
    width: 0.9375rem;
  }

  .customer-table::before {
    width: 0.9375rem;
  }

  .customer-table__scroll {
    padding: 0 0.9375rem;
  }

  .customer-table__tbody td {
    font-size: 0.75rem;
    padding: 0.9375rem 0;
  }

  .customer-table__thead td {
    font-size: 0.75rem;
  }

  .customer-footer__text {
    font-size: 0.75rem;
  }
}

@media (max-width: 37.5rem) {
  .customer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 1.25rem 1.25rem 1.875rem 1.25rem;
    gap: 1.25rem;
  }

  .customer-head__input {
    width: 100%;
  }

  .customer-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .customer-footer__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
  }
}

@media (max-width: 21.25rem) {
  .title__burger.title__burger--active {
    margin-left: 15.3125rem;
  }
}