@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.bike-title, .photos-title, .footer-title {
  font-family: "Lato-Bold", sans-serif;
}

.photos-text, .email-title, .email-input input, .footer-text {
  font-family: "Lato-Italic", sans-serif;
}

.bike-title span, .email-a {
  font-family: "Lato-Light", sans-serif;
}

.header-button, .bike-text, .gallery-a {
  font-family: "Lato-Regular", sans-serif;
}

/* -------- НАЧАЛО ----------- */
.header {
  background: url("../img/header/bg.jpg");
  min-height: 800px;
  background-size: cover;
}

.header-head {
  padding-top: 35px;
}

.header-container {
  width: 618px;
  margin: 0 auto 0 auto;
}

.header-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 207px 1fr 207px;
  grid-template-columns: 207px 1fr 207px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50%;
  grid-template-columns: 1fr 50%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.header-list2 {
  justify-items: end;
}

.header-logo {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.header-button {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "about us" */
  letter-spacing: 2.6px;
}

.header-work {
  margin-left: 40px;
}

.header-shop {
  margin-right: 40px;
}

.bike {
  background-color: #f7f7f7;
  margin: 110px 0;
  text-align: center;
}

.bike-container {
  max-width: 1079px;
  margin: 0 auto;
}

.bike-title {
  margin: 35px 0;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.bike-title p {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.bike-title span {
  color: #848789;
  letter-spacing: 1.8px;
}

.bike-text {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

.photos-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.photos-item_big {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.photos-item_big1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.photos-logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.photos-item {
  position: relative;
}

.photos-img {
  height: 624px;
  width: 100%;
  background-size: 100%;
}

.photos-img_small {
  width: 100%;
  background-size: 100%;
}

.photos-body {
  height: 624px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photos-png {
  margin-top: 70px;
}

.photos-title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 30px 0;
}

.photos-text {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 398px;
  margin: 0 auto;
  color: #848789;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.gallery {
  background-color: #81cdb0;
}

.gallery-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gallery-item-row {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.gallery-item-row1 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.gallery-item-column {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
}

.gallery-item-column1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.gallery-item:hover .gallery-logo {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-item:hover .gallery-img {
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-item:hover .gallery-img-big {
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-body {
  position: relative;
}

.gallery-logo {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.gallery-img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 277.5px;
  background-size: 100%;
}

.gallery-img-big {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 555px;
  background-size: 100%;
}

.gallery-black {
  height: 200px;
  background-color: #282f35;
}

.gallery-button {
  text-align: center;
}

.gallery-a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 200px;
  text-transform: uppercase;
  /* Text style for "DISCOVER T" */
  letter-spacing: 2.8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 55px;
}

.email {
  margin-bottom: 111px;
}

.email-top {
  text-align: center;
  margin-bottom: 35px;
}

.email-logo {
  margin: 109px 0 39px 0;
}

.email-title {
  color: #848789;
  font-size: 24px;
  line-height: 34px;
}

.email-container {
  width: 534px;
  margin: 0 auto;
}

.email-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-input {
  border: 1px solid #d3d7d9;
  width: 400px;
  height: 69px;
  color: #929292;
}

.email-input input {
  line-height: 67px;
  padding-left: 28px;
  font-size: 20px;
}

.email-input input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #929292;
}

.email-a {
  text-align: center;
  line-height: 69px;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer {
  background-color: #f7f7f7;
  height: 250px;
}

.footer-container {
  width: 617px;
  margin-left: 250px;
  padding: 100px 0 0 0;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  margin: 9px 7px;
}

.footer-title {
  color: #848789;
  font-size: 14px;
  line-height: 17.87px;
}

.footer-text {
  color: #848789;
  font-size: 16px;
}
