@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* -------- НАЧАЛО ----------- */
/* BUTTONS */
.btn1 {
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid #65c1dc;
}

@media (min-width: 991px) {
  .btn1:hover {
    border-bottom: 2px solid #ddd;
  }
}

.btn2 {
  line-height: 16px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid #41afd2;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

/* END */
/* SLICK */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.people__row .slick-arrow.slick-prev {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -10px;
  font-size: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #2290b3;
}

@media (max-width: 420px) {
  .people__row .slick-arrow.slick-prev {
    left: -20px;
  }
}

@media (max-width: 320px) {
  .people__row .slick-arrow.slick-prev {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #2290b3;
    left: -15px;
  }
}

.people__row .slick-arrow.slick-next {
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -10px;
  font-size: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #2290b3;
}

@media (max-width: 420px) {
  .people__row .slick-arrow.slick-next {
    right: -20px;
  }
}

@media (max-width: 320px) {
  .people__row .slick-arrow.slick-next {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #2290b3;
    right: -15px;
  }
}

.grid .slick-arrow.slick-next {
  position: absolute;
  right: -80px;
  top: 35%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .grid .slick-arrow.slick-next {
    right: -40px;
  }
}

@media (max-width: 500px) {
  .grid .slick-arrow.slick-next {
    right: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #2290b3;
  }
}

@media (max-width: 400px) {
  .grid .slick-arrow.slick-next {
    z-index: 9999;
    right: -12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #2290b3;
  }
}

.grid .slick-arrow.slick-prev {
  position: absolute;
  left: -80px;
  top: 35%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .grid .slick-arrow.slick-prev {
    left: -40px;
  }
}

@media (max-width: 500px) {
  .grid .slick-arrow.slick-prev {
    left: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #2290b3;
  }
}

@media (max-width: 400px) {
  .grid .slick-arrow.slick-prev {
    z-index: 9999;
    left: -12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #2290b3;
  }
}

.gallery__row .slick-arrow.slick-prev {
  position: absolute;
  left: -80px;
  top: 40%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .gallery__row .slick-arrow.slick-prev {
    left: -60px;
  }
}

@media (max-width: 500px) {
  .gallery__row .slick-arrow.slick-prev {
    left: -30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #2290b3;
  }
}

.gallery__row .slick-arrow.slick-next {
  position: absolute;
  right: -80px;
  top: 40%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .gallery__row .slick-arrow.slick-next {
    right: -60px;
  }
}

@media (max-width: 500px) {
  .gallery__row .slick-arrow.slick-next {
    right: -30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #2290b3;
  }
}

.legal__ul .slick-arrow.slick-next {
  position: absolute;
  right: -80px;
  top: 25%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .legal__ul .slick-arrow.slick-next {
    right: -40px;
  }
}

@media (max-width: 500px) {
  .legal__ul .slick-arrow.slick-next {
    right: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #2290b3;
  }
}

@media (max-width: 400px) {
  .legal__ul .slick-arrow.slick-next {
    z-index: 9999;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #2290b3;
  }
}

.legal__ul .slick-arrow.slick-prev {
  position: absolute;
  left: -80px;
  top: 25%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid #2290b3;
  font-size: 0;
}

@media (max-width: 650px) {
  .legal__ul .slick-arrow.slick-prev {
    left: -40px;
  }
}

@media (max-width: 500px) {
  .legal__ul .slick-arrow.slick-prev {
    left: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #2290b3;
  }
}

@media (max-width: 400px) {
  .legal__ul .slick-arrow.slick-prev {
    z-index: 9999;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #2290b3;
  }
}

/* END */
/* MAIN */
.main {
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/main/bg.jpg");
  background-size: cover;
}

.main .fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container {
  width: 100%;
  padding: 0 80px;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__row {
  padding: 0 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__item {
  width: 100%;
  height: 100%;
}

.main__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
  border-right: 1px solid #2b6172;
}

.main__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 40px 0px 0px 0px;
}

.main__scroll {
  margin: 0 auto 98px auto;
}

@media (max-width: 1680px) {
  .main__container {
    padding: 0 50px;
  }
  .main__row {
    padding: 0 50px;
  }
  .main__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 190px;
            flex: 0 1 190px;
    border-right: 1px solid #2b6172;
  }
}

@media (max-width: 1300px) {
  .main__container {
    padding: 0 30px;
  }
  .main__row {
    padding: 0 30px;
  }
}

@media (max-width: 1170px) {
  .main__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 35px 0px 0px 0px;
  }
  .main__logo img {
    width: 115px;
    height: 20px;
  }
  .main__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 140px;
            flex: 0 1 140px;
    border-right: 1px solid #2b6172;
  }
  .main__container {
    width: 100%;
    padding: 0 15px;
  }
  .main__row {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0px;
    border-right: 0;
  }
  .main__logo {
    margin-top: 20px;
  }
  .main__medic {
    margin: 20px 0 0 40px;
  }
}

@media (max-width: 600px) {
  .main__medic {
    padding: 0 0 0 50%;
    margin: 20px 0 0 -72px;
  }
  .main__row {
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .main__container {
    width: 100%;
    padding: 0 7px;
  }
}

.header {
  min-height: 50px;
  border-bottom: 1px solid #2b6172;
  line-height: 50px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .header__links {
    position: fixed;
    z-index: 19;
    bottom: 20px;
    padding: 0 20px;
  }
  .header__links:last-child {
    right: 0;
  }
}

@media (max-width: 480px) {
  .header__links {
    width: 100%;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 19;
    bottom: 50px;
    padding: 0 20px;
  }
  .header__links:last-child {
    bottom: 20px;
  }
}

.header__png {
  background: url("../img/main/mail.png") left no-repeat;
  padding-left: 24px;
}

.header__png_fax {
  background: url("../img/main/fax.png") left no-repeat;
}

.header__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100%;
}

.header__networks li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 0px 0px 24px;
}

.header__text span {
  font-weight: 300;
  padding-right: 7px;
}

.header__text a {
  color: #ffffff;
}

.header__mail {
  background: url("../img/main/mail.png") left 21px no-repeat;
  margin: 0px 52px 0px 0px;
}

.header__fax {
  background: url("../img/main/fax.png") left no-repeat;
}

.header__social {
  width: 96px;
}

@media (max-width: 992px) {
  .header {
    line-height: 50px;
  }
  .header__mail {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .header__social {
    width: 70px;
  }
}

.scroll__text {
  position: relative;
  top: 20px;
  left: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #add6e2;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  white-space: nowrap;
}

.scroll__img {
  text-align: center;
}

@media (max-width: 1170px) {
  .scroll__text {
    width: 110px;
    top: 35px;
  }
}

@media (max-width: 992px) {
  .scroll {
    display: none;
  }
}

.menu {
  width: 100%;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items {
  line-height: 16px;
  margin: 50px 0 0 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 870px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.menu__items li a {
  color: #ffffff;
}

.menu__items li:last-child a {
  color: #9bc6d3;
}

.menu__search {
  padding: 0 0 0 22px;
  display: inline-block;
  background: url("../img/main/search.png") left no-repeat;
}

@media (max-width: 992px) {
  .menu__search {
    color: #9bc6d3;
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .menu__search {
    font-size: 0;
    padding: 0 0 0 16px;
    margin-left: 30px;
  }
}

@media (max-width: 1900px) {
  .menu__items {
    margin: 50px 0 0 130px;
  }
}

@media (max-width: 1680px) {
  .menu__items {
    margin: 50px 0 0 80px;
  }
}

@media (max-width: 1550px) {
  .menu__items {
    width: 650px;
  }
}

@media (max-width: 1300px) {
  .menu__items {
    margin: 45px 0 0 40px;
  }
}

@media (max-width: 1170px) {
  .menu__items {
    margin: 40px 0 0 20px;
    width: 620px;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 992px) {
  .menu__items {
    margin-top: 120px;
    font-weight: 700;
    font-size: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
  }
  .menu__items li {
    padding-bottom: 60px;
  }
  .menu__items li::before {
    left: 10px;
    position: fixed;
    z-index: 20;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }
  .menu__items li:last-child {
    display: none;
  }
}

@media (max-width: 480px) {
  .menu__items {
    font-size: 25px;
  }
}

.phone {
  margin: 30px 0px 0px 0px;
}

.phone__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone__item {
  margin-right: 13px;
}

.phone__item:last-child {
  margin: 0;
}

.phone__btn {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone__btn:hover {
  color: #add6e2;
}

.phone__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__title {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.31px;
  margin: 0px 0px 11px 0px;
}

.phone__a {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__a img {
  width: 30px;
  height: 30px;
}

.phone__subtitle {
  color: #add6e2;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.78px;
}

@media (max-width: 1680px) {
  .phone__item {
    margin-right: 8px;
  }
}

@media (max-width: 1300px) {
  .phone__title {
    font-size: 25px;
  }
  .phone__subtitle {
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  .phone__logo img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 1170px) {
  .phone__title {
    font-size: 24px;
    height: 100%;
    margin: 3px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone__subtitle {
    display: none;
  }
  .phone__logo {
    display: none;
  }
}

@media (max-width: 992px) {
  .phone {
    margin: 0;
  }
  .phone__title {
    display: none;
  }
  .phone__row {
    display: none;
  }
}

.mid {
  margin: 7.5vh 0px 0px 130px;
  max-width: 569px;
}

.mid__title {
  color: #ffffff;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 40px;
}

.mid__title span {
  color: #5ad0f2;
  font-weight: 700;
}

.mid__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.18px;
  opacity: 0.7;
  margin: 0px 0px 70px 0px;
}

.mid__button a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 21px 72px;
  border-radius: 5px;
  border: 1px solid #5ed8fc;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3189a3), to(#65c1dc));
  background-image: -o-linear-gradient(bottom, #3189a3 0%, #65c1dc 100%);
  background-image: linear-gradient(to top, #3189a3 0%, #65c1dc 100%);
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 5px #07222a;
          box-shadow: 0 5px #07222a;
  text-shadow: 0 2px 0 rgba(62, 80, 94, 0.49);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.mid__button a:active {
  top: 3px;
  -webkit-box-shadow: 0 2px #07222a;
          box-shadow: 0 2px #07222a;
}

.mid__button a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2e7c94), to(#59a0b5));
  background-image: -o-linear-gradient(bottom, #2e7c94 0%, #59a0b5 100%);
  background-image: linear-gradient(to top, #2e7c94 0%, #59a0b5 100%);
}

@media (max-width: 1680px) {
  .mid {
    margin: 7.5vh 0px 0px 80px;
  }
}

@media (max-width: 1300px) {
  .mid {
    margin: 40px 0 0 40px;
  }
  .mid__title {
    font-size: 55px;
    line-height: 55px;
  }
  .mid__subtitle {
    line-height: 25px;
    margin: 0px 0px 50px 0px;
  }
}

@media (max-height: 900px) {
  .mid {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .mid {
    margin: 30px 0 0 0;
  }
  .mid__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 0;
    text-align: center;
  }
  .mid__subtitle {
    text-align: center;
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
  }
  .mid__button {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .mid {
    margin: 30px 0 0 0;
  }
  .mid__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
    text-align: center;
  }
  .mid__subtitle {
    text-align: center;
    margin-top: 15px;
  }
  .mid__button a {
    padding: 18px 40px;
  }
}

.bottom {
  max-height: 200px;
  border-top: 1px solid #2b6172;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 150px;
  border-right: 1px solid #2b6172;
}

.bottom__item:last-child {
  border-right: 0;
}

.bottom__title {
  white-space: nowrap;
  color: #5ad0f2;
  font-family: "Play";
  font-size: 35px;
  font-weight: 400;
  margin: 45px 15px 15px 50px;
}

.bottom__text {
  margin: 0 45px 0 50px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
}

.bottom__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1900px) {
  .bottom__text {
    font-size: 12px;
  }
  .bottom__title {
    font-size: 30px;
  }
}

@media (max-width: 1550px) {
  .bottom__item {
    height: 110px;
  }
  .bottom__title {
    margin: 25px 15px 15px 15px;
    font-size: 28px;
  }
  .bottom__text {
    margin: 0 15px 0 15px;
  }
}

@media (max-width: 1300px) {
  .bottom__title {
    margin: 25px 15px 15px 15px;
    font-size: 25px;
  }
  .bottom__text {
    margin: 0 15px 0 15px;
  }
}

@media (max-width: 1050px) {
  .bottom__title {
    margin: 25px 12px 15px 12px;
    font-size: 24px;
  }
  .bottom__text {
    font-size: 11px;
  }
}

@media (max-width: 992px) {
  .bottom__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bottom__text {
    display: none;
  }
  .bottom__title {
    text-align: center;
    white-space: pre-wrap;
    margin: 0 5px;
  }
  .bottom__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.33%;
            flex: 1 0 33.33%;
    max-height: 90px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    border-right: 1px solid #2b6172;
    border-bottom: 1px solid #2b6172;
  }
  .bottom__item:last-child {
    border-right: 0;
  }
}

@media (max-width: 450px) {
  .bottom {
    margin: 30px 0 0 0;
  }
  .bottom__title {
    margin: 0;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px;
  }
  .bottom__subtitle {
    text-align: center;
    margin-top: 15px;
  }
  .bottom__button {
    text-align: center;
  }
  .bottom__item {
    max-height: 65px;
    height: 65px;
  }
}

@media (max-width: 350px) {
  .bottom__title {
    font-size: 18px;
  }
}

.burger {
  z-index: 20;
  display: none;
}

@media (max-width: 992px) {
  .burger {
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 15px;
    display: inline-block;
  }
  .burger span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:last-child {
    bottom: 0;
    top: auto;
  }
  .burger.active {
    position: fixed;
  }
  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .burger.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
}

.burger__plate {
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 19;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #5db8d4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (max-width: 992px) {
  .burger__plate.active {
    position: fixed;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.burger__btn {
  z-index: 21;
  background: url("../img/main/phone.png") left 18px no-repeat;
  line-height: 62px;
  padding-left: 50px;
  font-size: 20px;
  position: fixed;
  right: 10px;
  color: #fff;
}

.burger__subtitle {
  z-index: 20;
  color: #fff;
  right: 10px;
  top: 45px;
  line-height: 16px;
  font-size: 12px;
  position: fixed;
}

/* END */
/* SECTION.MEMBERS */
.members {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
}

.members__container {
  width: 1120px;
  margin: 0 auto;
}

.members__row {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1450px) {
  .members__container {
    width: 920px;
  }
}

@media (max-width: 1150px) {
  .members__container {
    width: 620px;
  }
}

@media (max-width: 850px) {
  .members__container {
    width: 100%;
  }
}

.content {
  margin-top: 170px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content__head {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__title {
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 475px;
          flex: 1 0 475px;
  position: relative;
  color: #173f4a;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
}

.content__title span {
  font-weight: 700;
}

.content__big {
  z-index: -1;
  top: -100px;
  left: -110px;
  position: absolute;
  color: #f3f3f3;
  font-family: "Play";
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__text {
  color: #173f4a;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.content__btn {
  text-align: center;
  margin: 44px 0 20px 0;
}

.content__btn a {
  color: #173f4a;
}

@media (max-width: 1600px) {
  .content {
    margin-top: 120px;
  }
}

@media (max-width: 1450px) {
  .content {
    margin-top: 100px;
  }
  .content__big {
    font-size: 150px;
    top: -80px;
    left: -90px;
  }
  .content__text {
    line-height: 26px;
  }
  .content__head {
    margin-bottom: 30px;
  }
  .content__btn {
    margin: 30px 0 20px 0;
  }
  .content__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 400px;
            flex: 1 0 400px;
  }
}

@media (max-width: 1150px) {
  .content__title {
    font-size: 45px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
  .content__text {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}

@media (max-width: 850px) {
  .content {
    margin-top: 40px;
  }
  .content__big {
    display: none;
  }
  .content__head {
    display: block;
  }
  .content__title {
    margin-bottom: 30px;
    text-align: center;
  }
  .content__text {
    padding: 0 10px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .content {
    margin-top: 20px;
  }
  .content__title {
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 34px;
  }
  .content__text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 1150px) {
  .people__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.people__item {
  padding: 0 20px;
}

.people__body {
  background-color: #efefef;
  border-radius: 5px;
}

.people__name {
  margin: 24px 0px 13px 0px;
  color: #173f4a;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.people__subname {
  padding: 0px 0px 25px 0px;
  color: #173f4a;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15px;
}

@media (max-width: 1450px) {
  .people__item {
    padding: 0 5px;
  }
  .people__body img {
    width: 100%;
    background-size: cover;
  }
}

@media (max-width: 1150px) {
  .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .people__row {
    position: relative;
    max-width: 470px;
  }
  .people__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .people__body {
    width: 220px;
  }
  .people__body img {
    max-width: 220px;
    max-height: 190px;
  }
}

@media (max-width: 850px) {
  .people__row {
    max-width: 230px;
  }
}

@media (max-width: 420px) {
  .people__name {
    margin: 14px 0px 6px 0px;
  }
  .people__subname {
    padding: 0px 0px 10px 0px;
    color: #173f4a;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.15px;
  }
  .people__body {
    width: 198px;
  }
  .people__body img {
    max-width: 198px;
    max-height: 171px;
  }
  .people__row {
    max-width: 208px;
  }
}

.membottom {
  padding: 50px 0;
  background-color: #2290b3;
}

.membottom__row {
  width: 1120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.membottom__title {
  max-width: 620px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
}

.membottom__btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.membottom__a {
  padding: 22px 45px;
}

.membottom__a:hover {
  border: 2px solid #fff;
}

@media (max-width: 1450px) {
  .membottom {
    padding: 40px 0;
  }
  .membottom__row {
    width: 920px;
  }
  .membottom__title {
    max-width: 520px;
    font-size: 24px;
  }
}

@media (max-width: 1150px) {
  .membottom__row {
    width: 620px;
  }
  .membottom__a {
    padding: 15px 25px;
  }
}

@media (max-width: 850px) {
  .membottom {
    padding: 25px 0;
  }
  .membottom__title {
    padding: 0 10px;
    max-width: 620px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .membottom__row {
    width: 100%;
  }
  .membottom__a {
    font-size: 12px;
    padding: 10px 15px;
  }
  .membottom__btn {
    padding-right: 10px;
  }
}

@media (max-width: 450px) {
  .membottom {
    padding: 25px 0;
  }
  .membottom__title {
    text-align: center;
    padding: 0 10px 20px 10px;
  }
  .membottom__row {
    display: block;
  }
  .membottom__a {
    font-size: 12px;
    padding: 10px 15px;
  }
  .membottom__btn {
    padding-right: 10px;
  }
}

@media (max-width: 420px) {
  .membottom {
    padding: 15px 0;
  }
  .membottom__title {
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px 10px 10px;
  }
}

/* END */
/* SECTION.SERVICES */
.heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heads__title {
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 475px;
          flex: 1 0 475px;
  position: relative;
  color: #173f4a;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
}

.heads__title span {
  font-weight: 700;
}

.heads__big {
  z-index: -1;
  position: absolute;
  color: #f3f3f3;
  font-family: "Play";
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
}

.heads__big_m {
  top: -100px;
  left: -110px;
}

.heads__text {
  color: #173f4a;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.services__container {
  max-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1200px;
  margin: 0 auto;
}

.services__absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #173f4a;
  width: 280px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__a {
  color: #ffffff;
}

.services__head {
  padding-top: 90px;
  margin-bottom: 110px;
}

.services__title {
  width: 500px;
}

.services__big {
  color: #fff;
  left: -90px;
}

.services__text {
  margin-top: 40px;
}

@media (max-width: 1850px) {
  .services__head {
    padding-top: 100px;
    margin-bottom: 90px;
  }
  .services__container {
    width: 1100px;
    margin: 0 auto;
  }
  .services__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
  .services__absolute {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 1300px) {
  .services__container {
    width: 1000px;
    margin: 0 auto;
  }
  .services__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
  .services__big {
    top: 30px;
    color: #fff;
    left: -60px;
    font-size: 150px;
  }
}

@media (max-width: 1150px) {
  .services__row {
    position: relative;
    height: 100%;
  }
  .services__absolute {
    position: static;
    width: 100%;
  }
  .services__container {
    width: 700px;
    margin: 0 auto;
  }
  .services__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    font-size: 50px;
  }
  .services__text {
    margin-top: 10px;
  }
  .services__big {
    top: 30px;
    color: #fff;
    left: -60px;
    font-size: 150px;
  }
}

@media (max-width: 850px) {
  .services__head {
    display: block;
    padding-top: 40px;
  }
  .services__title {
    text-align: center;
    width: 100%;
  }
  .services__text {
    text-align: center;
    padding: 0 10px;
  }
  .services__big {
    display: none;
  }
  .services__container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .services__absolute {
    height: 120px;
  }
}

@media (max-width: 500px) {
  .services__head {
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .services__head {
    margin-top: 0;
  }
  .services__title {
    font-size: 35px;
    line-height: 40px;
  }
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 90px;
  grid-row-gap: 75px;
}

.grid__title {
  white-space: nowrap;
  position: relative;
  color: #173f4a;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  margin-bottom: 20px;
}

.grid__title::before {
  left: -50px;
  top: -8px;
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #75c7e0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1150px) {
  .grid__title::before {
    left: 50%;
    margin-left: -20px;
    top: -45px;
  }
}

.grid__text {
  color: #173f4a;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.16px;
}

@media (max-width: 1850px) {
  .grid {
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }
  .grid__title {
    white-space: pre-wrap;
  }
}

@media (max-width: 1300px) {
  .grid {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
  }
  .grid__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .grid__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1150px) {
  .grid {
    min-width: 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
    margin: 0 auto;
  }
  .grid__item {
    height: 150px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .grid__title {
    font-size: 24px;
    margin-bottom: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .grid__text {
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
  }
}

@media (max-width: 650px) {
  .grid {
    width: 350px;
  }
  .grid__title {
    font-size: 20px;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .grid__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .grid {
    width: 250px;
  }
  .grid__text {
    font-size: 14px;
    line-height: 16px;
  }
  .grid__item {
    height: 150px;
    margin-bottom: 0;
    margin-top: 50px;
  }
}

/* END */
/* SECTION.EVENT */
.event {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.event__container {
  width: 1757px;
  margin: 0 auto;
}

.event__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 958px;
          flex: 0 0 958px;
}

@media (max-width: 1850px) {
  .event__container {
    width: 1300px;
  }
  .event__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
  }
}

@media (max-width: 1400px) {
  .event__container {
    width: 1300px;
  }
  .event__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
  }
}

@media (max-width: 1400px) {
  .event__container {
    width: 1100px;
  }
  .event__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 650px;
            flex: 0 0 650px;
  }
}

@media (max-width: 1150px) {
  .event__row {
    display: block;
  }
  .event__container {
    width: 100%;
  }
}

.absolute {
  z-index: -1;
  height: 69%;
  position: absolute;
  width: 35%;
  background-color: #173f4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.absolute__title {
  padding: 70px 80px 38px 0;
  color: #ffffff;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
}

.absolute__text {
  margin-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 190px;
  color: #a4cdd9;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
}

@media (max-width: 1850px) {
  .absolute__title {
    padding: 40px 80px 38px 0;
  }
}

@media (max-width: 1150px) {
  .absolute {
    width: 100%;
    height: 150px;
    display: block;
    text-align: center;
  }
  .absolute__text {
    margin: 0 auto;
  }
  .absolute__title {
    padding: 10px 0;
  }
}

@media (max-width: 650px) {
  .absolute {
    height: 100px;
  }
  .absolute__title {
    padding: 0;
    color: #ffffff;
    font-family: "Play";
    font-size: 60px;
    font-weight: 400;
  }
  .absolute__text {
    margin: 0;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    color: #a4cdd9;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.gallery {
  margin-top: 300px;
}

.gallery__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 300px 300px;
  grid-template-rows: 300px 300px;
  position: relative;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__item:nth-child(1) {
  background: url("../img/event/1.jpg");
  background-size: cover;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.gallery__item:nth-child(2) {
  background: url("../img/event/2.jpg");
  background-size: cover;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.gallery__item:nth-child(3) {
  background: url("../img/event/3.jpg");
  background-size: cover;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.gallery__item:nth-child(4) {
  background: url("../img/event/4.jpg");
  background-size: cover;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.gallery__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
}

.gallery__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.gallery__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.14px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.gallery__city {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.14px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.gallery__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
}

@media (max-width: 1850px) {
  .gallery {
    margin-top: 230px;
  }
  .gallery__row {
    -ms-grid-columns: 300px 300px;
    grid-template-columns: 300px 300px;
    -ms-grid-rows: 300px 300px;
    grid-template-rows: 300px 300px;
  }
  .gallery__item:nth-child(1) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .gallery__item:nth-child(2) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .gallery__item:nth-child(3) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .gallery__item:nth-child(4) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media (max-width: 1150px) {
  .gallery {
    margin-top: 0;
    padding-top: 160px;
    text-align: center;
  }
  .gallery__row {
    z-index: 9999;
    text-align: center;
    width: 300px;
    display: inline-block;
  }
  .gallery__item {
    text-align: center;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 650px) {
  .gallery {
    padding-top: 110px;
  }
  .gallery__row {
    width: 240px;
  }
  .gallery__item {
    width: 240px;
    height: 240px;
  }
  .gallery__date {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.14px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 400px) {
  .gallery__row {
    width: 200px;
  }
  .gallery__item {
    width: 200px;
    height: 200px;
  }
}

.legal__title {
  color: #173f4a;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
  margin: 70px 0px 28px 0px;
}

.legal__subtitle {
  color: #173f4a;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  margin-bottom: 50px;
}

.legal__ul {
  position: relative;
}

.legal__ul li {
  max-width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.legal__ul li:last-child {
  margin: 0;
}

.legal__name {
  color: #173f4a;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 30px;
}

.legal__text {
  margin-left: 10px;
  color: #173f4a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 28px;
}

.legal__btn {
  margin-top: 77px;
}

.legal__a {
  padding: 22px 35px 22px 55px;
  border: 2px solid #65c1dc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.legal__a:hover {
  border: 2px solid #a1a1a1;
}

.legal__a span {
  color: #173f4a;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  position: relative;
}

.legal__a span::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 19px;
  display: inline-block;
  left: -30px;
  top: -1px;
  background: url("../img/event/retry.png") left no-repeat;
}

@media (max-width: 1850px) {
  .legal__title {
    margin: 40px 0px 28px 0px;
  }
}

@media (max-width: 1400px) {
  .legal__name {
    color: #173f4a;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 26px;
  }
  .legal__text {
    margin-left: 10px;
    color: #173f4a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
}

@media (max-width: 1150px) {
  .legal {
    text-align: center;
  }
  .legal__ul {
    display: inline-block;
    text-align: center;
    width: 300px;
  }
  .legal__ul li {
    display: block;
  }
  .legal__ul li span {
    display: none;
  }
  .legal__text {
    margin-left: 10px;
    color: #173f4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 10px;
  }
}

@media (max-width: 650px) {
  .legal__title {
    font-size: 50px;
    margin: 15px 0px 15px 0px;
  }
  .legal__ul {
    width: 250px;
  }
  .legal__subtitle {
    margin-bottom: 20px;
  }
  .legal__name {
    color: #173f4a;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 30px;
  }
  .legal__text {
    margin-left: 10px;
    color: #173f4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 10px;
  }
  .legal__btn {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  .legal__ul {
    display: none;
  }
  .legal__btn {
    width: 100%;
    position: absolute;
    bottom: 40px;
  }
  .legal__a {
    padding: 12px 25px 12px 35px;
  }
}

/* END */
/* SECTION.CONTACT */
.contact {
  max-height: 410px;
  text-align: center;
}

.contact__content {
  margin-top: 70px;
}

.contact__text {
  color: #173f4a;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  padding-bottom: 20px;
}

.contact__title {
  color: #2290b3;
  font-family: "Play";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.contact__a {
  font-weight: 600;
  line-height: 55px;
  padding: 22px 45px 22px 45px;
  color: #173f4a;
}

.contact__a:hover {
  border: 2px solid #999;
}

.contact__number {
  margin-bottom: 30px;
  color: #173f4a;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

.contact__strip {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

@media (max-width: 400px) {
  .contact__a {
    font-weight: 600;
    line-height: 45px;
    padding: 12px 25px 12px 25px;
    color: #173f4a;
  }
  .contact__title {
    color: #2290b3;
    font-family: "Play";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }
  .contact__number {
    margin-bottom: 30px;
    color: #173f4a;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.4px;
  }
}

/* END */
/* FOOTER */
.footer {
  height: 100%;
  min-height: 100vh;
}

.footer__pattern {
  height: 100%;
  background-color: #173f4a;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__head {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 70px 0;
}

.footer__title {
  max-width: 190px;
  color: #ffffff;
}

.footer__big {
  top: -100px;
  left: -120px;
  color: #1f4651;
}

.footer__text {
  margin-top: 35px;
  max-width: 610px;
  color: #fff;
}

.footer__text a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.18px;
  background: url("../img/event/arrow.png") right no-repeat;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__text a:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__map {
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__map img {
  border-radius: 5px;
}

.footer__absolute {
  position: absolute;
  top: 70px;
  left: 40px;
}

.footer__btn {
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 70px 65px 0px;
}

.footer__btn a {
  background: url("../img/footer/geo.png") left no-repeat;
  padding: 0 0 0 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.footer__bottom {
  height: 100px;
  max-height: 100px;
  line-height: 100px;
  /*       .fp-tableCell {
         height: 100px !important;
      } */
}

.footer__row {
  height: 100px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  padding: 0 15px;
  color: #173f4a;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.footer__phone {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.28px;
}

.footer__phone::before {
  position: relative;
  top: 5px;
  left: -5px;
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/footer/phone.png");
}

.footer__phone a {
  color: #173f4a;
}

.footer__reserved {
  white-space: nowrap;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

@media (max-width: 1480px) {
  .footer__container {
    width: 900px;
    margin: 0 auto;
  }
  .footer__map img {
    height: 396px;
    width: 582px;
  }
  .footer__absolute {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .footer__btn {
    padding: 0px 40px 25px 0px;
  }
  .footer__title {
    margin-left: 40px;
  }
  .footer__text {
    max-width: 510px;
  }
}

@media (max-width: 1200px) {
  .footer__row {
    padding: 0 30px;
  }
  .footer__link {
    padding: 0 10px;
  }
}

@media (max-width: 1100px) {
  .footer__container {
    width: 750px;
    margin: 0 auto;
  }
  .footer__text {
    margin-top: 25px;
    max-width: 350px;
  }
  .footer__title {
    margin-left: 120px;
  }
  .footer__btn {
    padding: 0px 20px 15px 0px;
  }
  .footer__absolute {
    position: absolute;
    top: 40px;
    left: 20px;
  }
}

@media (max-width: 992px) {
  .footer__bottom {
    max-height: 210px;
    line-height: 70px;
  }
  .footer__row {
    text-align: center;
    display: block;
  }
  .footer__link {
    padding: 0 10px;
  }
}

@media (max-width: 850px) {
  .footer__big {
    display: none;
  }
  .footer__head {
    display: block;
  }
  .footer__title {
    margin: 0;
    text-align: center;
    max-width: 100%;
  }
  .footer__text {
    text-align: center;
    padding: 0;
    max-width: 100%;
  }
  .footer__container {
    width: 100%;
  }
  .footer__map {
    display: none;
  }
  .footer__btn {
    text-align: center;
    display: block;
    padding: 0;
  }
  .footer__content {
    display: block;
  }
  .footer__absolute {
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 300px;
    position: static;
  }
}

@media (max-width: 450px) {
  .footer__bottom {
    max-height: 210px;
    line-height: 70px;
  }
  .footer__absolute {
    padding: 0 5px 30px 5px;
  }
  .footer__title {
    font-size: 40px;
  }
  .footer__head {
    padding: 40px 0px 30px 0px;
  }
  .footer__link {
    display: block;
    line-height: 25px;
  }
  .footer__row {
    padding: 0 10px;
  }
}

@media (max-width: 330px) {
  .footer__head {
    padding: 20px 0px 30px 0px;
  }
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 6px 10px 70px rgba(62, 80, 94, 0.5);
          box-shadow: 6px 10px 70px rgba(62, 80, 94, 0.5);
  border-radius: 5px;
  padding: 40px 90px 40px 40px;
}

.card__title {
  color: #2290b3;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
}

.card__address {
  max-width: 190px;
  color: #173f4a;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.18px;
  margin-bottom: 30px;
}

.card__info li {
  color: #173f4a;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.card__info li span {
  font-size: 18px;
  letter-spacing: 0.18px;
  font-weight: 600;
}

@media (max-width: 1480px) {
  .card {
    padding: 20px 40px 20px 20px;
  }
  .card__address {
    margin-bottom: 15px;
  }
  .card__title {
    line-height: 40px;
  }
}

/* END */
