@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2f3035;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-title {
  font-family: "Miedinger Medium W00 Regular";
  color: #2f3035;
  line-height: 124%;
  letter-spacing: 1.5px;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .section-title {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .section-title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.button-gray {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  border-radius: 10px;
  background-color: #2f3035;
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.button-gray path {
  fill: #fff;
}

html.pc .button-gray:hover {
  background: #fd5000;
}

.button-orange {
  border-radius: 10px;
  background: #fd5000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 15px 16px;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.button-orange svg {
  margin-top: 1px;
}

.button-orange path {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  fill: #fff;
}

html.pc .button-orange:hover {
  color: #2f3035;
  background: #fff;
}

html.pc .button-orange:hover path {
  fill: #2f3035;
}

.header {
  padding: 65px 0;
  width: 100%;
  position: absolute;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  margin-right: 60px;
}

.header__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 30px;
}

.header__link {
  color: #fff;
  font-size: 14px;
  display: block;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

html.pc .header__link:hover {
  color: #fd5000;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__tel {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

html.pc .header__tel:hover {
  color: #fd5000;
}

.header__button {
  border-radius: 10px;
  background: #fff;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

html.pc .header__button:hover {
  color: #fd5000;
  background-color: #fd5000;
  color: #fff;
}

html.pc .header__button:hover .img-svg path {
  fill: #fff;
}

.header__button .img-svg path {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.header__arrow {
  margin-left: 10px;
}

html.menu-open .menu__body {
  overflow: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

html.lock .menu__body {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: none;
}

.icon-menu {
  display: none;
}

.no-webp .front{
  background: url("../img/main.jpg") 60% no-repeat; }

.front {
  background-size: cover !important;
}

@supports (padding-bottom: clamp( 3.125rem , 1.6513157895rem  +  7.3684210526vw , 7.5rem )) {
  .front {
    padding-bottom: clamp( 3.125rem , 1.6513157895rem  +  7.3684210526vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.6513157895rem  +  7.3684210526vw , 7.5rem )) {
  .front {
    padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 59.375);
  }
}

.front__title {
  max-width: 600px;
  color: #fff;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 2.25px;
  font-family: "Miedinger Medium W00 Regular";
}

@supports (padding-top: clamp( 15.625rem , 10.3618421053rem  +  26.3157894737vw , 31.25rem )) {
  .front__title {
    padding-top: clamp( 15.625rem , 10.3618421053rem  +  26.3157894737vw , 31.25rem );
  }
}

@supports not (padding-top: clamp( 15.625rem , 10.3618421053rem  +  26.3157894737vw , 31.25rem )) {
  .front__title {
    padding-top: calc(15.625rem + 15.625 * (100vw - 20rem) / 59.375);
  }
}

@supports (font-size: clamp( 1.375rem , 0.8907894737rem  +  2.4210526316vw , 2.8125rem )) {
  .front__title {
    font-size: clamp( 1.375rem , 0.8907894737rem  +  2.4210526316vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.8907894737rem  +  2.4210526316vw , 2.8125rem )) {
  .front__title {
    font-size: calc(1.375rem + 1.4375 * (100vw - 20rem) / 59.375);
  }
}

.front__subtitle {
  color: #fff;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.32px;
}

@supports (padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .front__subtitle {
    padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .front__subtitle {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .front__subtitle {
    padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .front__subtitle {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

@supports (max-width: clamp( 14.6875rem , 11.4243421053rem  +  16.3157894737vw , 24.375rem )) {
  .front__subtitle {
    max-width: clamp( 14.6875rem , 11.4243421053rem  +  16.3157894737vw , 24.375rem );
  }
}

@supports not (max-width: clamp( 14.6875rem , 11.4243421053rem  +  16.3157894737vw , 24.375rem )) {
  .front__subtitle {
    max-width: calc(14.6875rem + 9.6875 * (100vw - 20rem) / 59.375);
  }
}

@supports (font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem )) {
  .front__subtitle {
    font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem )) {
  .front__subtitle {
    font-size: calc(0.8125rem + 0.1875 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-top: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem )) {
  .about {
    padding-top: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem )) {
  .about {
    padding-top: calc(2.8125rem + 4.6875 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem )) {
  .about {
    padding-bottom: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.2335526316rem  +  7.8947368421vw , 7.5rem )) {
  .about {
    padding-bottom: calc(2.8125rem + 4.6875 * (100vw - 20rem) / 59.375);
  }
}

.about__text {
  color: #2f3035;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.32px;
}

@supports (padding-top: clamp( 1.5625rem , 0.4046052632rem  +  5.7894736842vw , 5rem )) {
  .about__text {
    padding-top: clamp( 1.5625rem , 0.4046052632rem  +  5.7894736842vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 0.4046052632rem  +  5.7894736842vw , 5rem )) {
  .about__text {
    padding-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 59.375);
  }
}

@supports (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .about__text {
    font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .about__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
}

@supports (padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .slider__head {
    padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .slider__head {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

@supports (max-width: clamp( 12.5rem , 10.3947368421rem  +  10.5263157895vw , 18.75rem )) {
  .slider__title {
    max-width: clamp( 12.5rem , 10.3947368421rem  +  10.5263157895vw , 18.75rem );
  }
}

@supports not (max-width: clamp( 12.5rem , 10.3947368421rem  +  10.5263157895vw , 18.75rem )) {
  .slider__title {
    max-width: calc(12.5rem + 6.25 * (100vw - 20rem) / 59.375);
  }
}

.slider__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__scrollbar {
  cursor: pointer;
  margin-right: 48px;
  width: 135px;
  height: 3px;
  background-color: #e6e6e6;
}

.slider__button-nav {
  width: 56px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 1px solid #2f3035;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.slider__button-nav path {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

html.pc .slider__button-nav:hover {
  border: 1px solid #fd5000;
  background-color: #fd5000;
}

html.pc .slider__button-nav:hover path {
  fill: #fff;
}

.slider__button-nav.swiper-button-disabled {
  cursor: auto;
  border: 1px solid #949494;
}

.slider__button-nav.swiper-button-disabled path {
  fill: #949494;
}

html.pc .slider__button-nav.swiper-button-disabled:hover {
  border: 1px solid #949494;
  background-color: transparent;
}

html.pc .slider__button-nav.swiper-button-disabled:hover path {
  fill: #949494;
}

.slider__button-prev {
  cursor: pointer;
  margin-right: 20px;
}

.slider__button-prev svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1920px;
  margin: 0 auto;
}

@supports (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .product {
    padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .product {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 59.375);
  }
}

.product__swiper {
  max-width: 1920px;
}

.product__slide {
  position: relative;
  border-radius: 16px;
  background: #f6f6f6;
  border: 1px solid transparent;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

@supports (padding: clamp( 0.625rem , -0.4276315789rem  +  5.2631578947vw , 3.75rem )) {
  .product__slide {
    padding: clamp( 0.625rem , -0.4276315789rem  +  5.2631578947vw , 3.75rem );
  }
}

@supports not (padding: clamp( 0.625rem , -0.4276315789rem  +  5.2631578947vw , 3.75rem )) {
  .product__slide {
    padding: calc(0.625rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}

html.pc .product__slide:hover {
  background-color: transparent;
  border: 1px solid #2f3035;
}

html.pc .product__slide:hover .product__title {
  opacity: 0;
}

html.pc .product__slide:hover .product__subtitle {
  opacity: 0;
}

html.pc .product__slide:hover .product__button {
  opacity: 1;
}

.product__slide.show-button {
  background-color: transparent;
  border: 1px solid #2f3035;
}

.product__slide.show-button .product__title {
  opacity: 0;
}

.product__slide.show-button .product__subtitle {
  opacity: 0;
}

.product__slide.show-button .product__button {
  opacity: 1;
  pointer-events: auto;
}

.product__image {
  text-align: center;
}

.product__image img {
  width: 100%;
}

.product__title {
  max-width: 480px;
  margin: 0 auto 10px auto;
  cursor: default;
  color: #2f3035;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

@supports (margin-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
  .product__title {
    margin-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
  .product__title {
    margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

@supports (font-size: clamp( 0.875rem , 0.6644736842rem  +  1.0526315789vw , 1.5rem )) {
  .product__title {
    font-size: clamp( 0.875rem , 0.6644736842rem  +  1.0526315789vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6644736842rem  +  1.0526315789vw , 1.5rem )) {
  .product__title {
    font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.product__subtitle {
  max-width: 480px;
  margin: 0 auto;
  cursor: default;
  color: #2f3035;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.32px;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

@supports (font-size: clamp( 0.5625rem , 0.4151315789rem  +  0.7368421053vw , 1rem )) {
  .product__subtitle {
    font-size: clamp( 0.5625rem , 0.4151315789rem  +  0.7368421053vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.4151315789rem  +  0.7368421053vw , 1rem )) {
  .product__subtitle {
    font-size: calc(0.5625rem + 0.4375 * (100vw - 20rem) / 59.375);
  }
}

.product__button {
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@supports (bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem )) {
  .product__button {
    bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem );
  }
}

@supports not (bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem )) {
  .product__button {
    bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 59.375);
  }
}

html.mob .product__button {
  pointer-events: none;
}

.product__footer {
  padding-bottom: 20px;
  max-width: 1290px;
  margin: 0 auto;
  text-align: right;
}

@supports (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
  .product__footer {
    padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
  .product__footer {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 59.375);
  }
}

.product__more {
  border-radius: 10px;
  padding: 12px 36px 12px 16px;
  border: 1px solid #2F3035;
  position: relative;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.product__more svg {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
          transform: translateY(-35%);
}

.product__more path {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

html.pc .product__more:hover {
  border: 1px solid #fd5000;
  background-color: #fd5000;
  color: #fff;
}

html.pc .product__more:hover path {
  fill: #fff;
}

.gallery {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1920px;
  margin: 0 auto;
}

@supports (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .gallery {
    padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .gallery {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .gallery {
    padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .gallery {
    padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 59.375);
  }
}

.gallery__swiper {
  max-width: 1920px;
}

.gallery__slide {
  border-radius: 16px;
  position: relative;
}

html.pc .gallery__slide:hover .gallery__info {
  opacity: 0.9;
}

.gallery__slide.show-button .gallery__info {
  opacity: 0.9;
}

.gallery__slide.show-button .gallery__button {
  pointer-events: auto;
}

html.mob .gallery__button {
  pointer-events: none;
}

.gallery__image {
  text-align: center;
}

.gallery__image img {
  border-radius: 16px;
  width: 100%;
}

.gallery__info {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  position: absolute;
  bottom: 0;
  border-radius: 16px;
  opacity: 0;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem )) {
  .gallery__info {
    padding: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
  }
}

@supports not (padding: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem )) {
  .gallery__info {
    padding: calc(0.625rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

.gallery__title {
  color: #2f3035;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.32px;
  padding-bottom: 8px;
}

@supports (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .gallery__title {
    font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .gallery__title {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.gallery__subtitle {
  color: #2f3035;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 19.2px */
  letter-spacing: 0.24px;
}

@supports ( font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem )) {
  .gallery__subtitle {
    font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem );
  }
}

@supports not ( font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem )) {
  .gallery__subtitle {
    font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 59.375);
  }
}

.form {
  background-color: #2f3035;
}

@supports (padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .form {
    padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .form {
    padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .form {
    padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem )) {
  .form {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 59.375);
  }
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@supports (max-width: clamp( 17.5rem , 15.3947368421rem  +  10.5263157895vw , 23.75rem )) {
  .form__content {
    max-width: clamp( 17.5rem , 15.3947368421rem  +  10.5263157895vw , 23.75rem );
  }
}

@supports not (max-width: clamp( 17.5rem , 15.3947368421rem  +  10.5263157895vw , 23.75rem )) {
  .form__content {
    max-width: calc(17.5rem + 6.25 * (100vw - 20rem) / 59.375);
  }
}

.form__title {
  color: #fff;
  font-family: "Miedinger Medium W00 Regular";
  line-height: 124%;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .form__title {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .form__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.form__subtitle {
  color: #fff;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.32px;
}

@supports (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .form__subtitle {
    font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .form__subtitle {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.form__input {
  padding: 0 16px;
  border-radius: 10px;
  height: 50px;
}

.form__input-name {
  width: 210px;
}

.form__input-email {
  width: 250px;
}

.form__input::-webkit-input-placeholder {
  color: #e0e0e0;
}

.form__input::-moz-placeholder {
  color: #e0e0e0;
}

.form__input:-ms-input-placeholder {
  color: #e0e0e0;
}

.form__input::-ms-input-placeholder {
  color: #e0e0e0;
}

.form__input::placeholder {
  color: #e0e0e0;
}

.footer {
  background: #2f3035;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: block;
  padding-top: 5px;
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
  .footer__logo {
    padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
  .footer__logo {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}

@supports (width: clamp( 6.25rem , 5.2394736842rem  +  5.0526315789vw , 9.25rem )) {
  .footer__logo {
    width: clamp( 6.25rem , 5.2394736842rem  +  5.0526315789vw , 9.25rem );
  }
}

@supports not (width: clamp( 6.25rem , 5.2394736842rem  +  5.0526315789vw , 9.25rem )) {
  .footer__logo {
    width: calc(6.25rem + 3 * (100vw - 20rem) / 59.375);
  }
}

.footer__logo img {
  width: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.25rem , 1.1657894737rem  +  0.4210526316vw , 1.5rem )) {
  .footer__list {
    gap: clamp( 1.25rem , 1.1657894737rem  +  0.4210526316vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.1657894737rem  +  0.4210526316vw , 1.5rem )) {
  .footer__list {
    gap: calc(1.25rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.footer__link {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

@supports (font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem )) {
  .footer__link {
    font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem )) {
  .footer__link {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 59.375);
  }
}

html.pc .footer__link:hover {
  color: #fd5000;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .footer__buttons {
    gap: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .footer__buttons {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.footer__tel {
  color: #fff;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.28px;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

html.pc .footer__tel:hover {
  color: #fd5000;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@supports (gap: clamp( 0.625rem , 0.3302631579rem  +  1.4736842105vw , 1.5rem )) {
  .footer__contacts {
    gap: clamp( 0.625rem , 0.3302631579rem  +  1.4736842105vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.3302631579rem  +  1.4736842105vw , 1.5rem )) {
  .footer__contacts {
    gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 59.375);
  }
}

.footer__contact {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.24px;
}

@supports (  font-size: clamp( 0.5625rem , 0.4993421053rem  +  0.3157894737vw , 0.75rem )) {
  .footer__contact {
    font-size: clamp( 0.5625rem , 0.4993421053rem  +  0.3157894737vw , 0.75rem );
  }
}

@supports not (  font-size: clamp( 0.5625rem , 0.4993421053rem  +  0.3157894737vw , 0.75rem )) {
  .footer__contact {
    font-size: calc(0.5625rem + 0.1875 * (100vw - 20rem) / 59.375);
  }
}

.footer__contact span {
  font-weight: 500;
}

.footer__footer {
  color: #fff;
  text-align: right;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem )) {
  .footer__footer {
    font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem )) {
  .footer__footer {
    font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
  z-index: 150;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 750px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

html.lock .popup__content {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  opacity: 0;
  background-color: #2f3035;
}

@supports (padding: clamp( 2.5rem , 1.6578947368rem  +  4.2105263158vw , 5rem )) {
  .popup__content {
    padding: clamp( 2.5rem , 1.6578947368rem  +  4.2105263158vw , 5rem );
  }
}

@supports not (padding: clamp( 2.5rem , 1.6578947368rem  +  4.2105263158vw , 5rem )) {
  .popup__content {
    padding: calc(2.5rem + 2.5 * (100vw - 20rem) / 59.375);
  }
}

.popup__texts {
  position: relative;
}

.popup__close {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.popup__close::after,
.popup__close::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 0.125rem;
  background-color: #fff;
}

.popup__close::before {
  left: 5px;
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__text {
  max-width: 330px;
  color: #fff;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.32px;
  margin-bottom: 40px;
}

@supports (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .popup__text {
    font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
  .popup__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.popup__title {
  padding-right: 40px;
  color: #fff;
  font-family: "Miedinger Medium W00 Regular";
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .popup__title {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .popup__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.popup__input {
  padding: 0 16px;
  border-radius: 10px;
  height: 50px;
}

.popup__input-name {
  width: 210px;
}

.popup__input-email {
  width: 250px;
}

.popup__input::-webkit-input-placeholder {
  color: #e0e0e0;
}

.popup__input::-moz-placeholder {
  color: #e0e0e0;
}

.popup__input:-ms-input-placeholder {
  color: #e0e0e0;
}

.popup__input::-ms-input-placeholder {
  color: #e0e0e0;
}

.popup__input::placeholder {
  color: #e0e0e0;
}

@media (min-width: 992px) {
  [class*=__container] {
    padding: 0 1.875rem;
  }
}

@media (max-width: 1100px) {
  .header {
    padding: 40px 0;
  }

  .header__logo {
    margin-right: 40px;
  }

  .header__list {
    gap: 20px;
  }

  .header__buttons {
    gap: 20px;
  }

  .form__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .form__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__button {
    width: 94px;
  }

  .form__input-name {
    width: 250px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 30px 0;
  }

  .header__list {
    gap: 12px;
  }

@supports (font-size: clamp( 0.625rem , 0.5361255572rem  +  0.4457652303vw , 0.8125rem )) {
    .header__link {
      font-size: clamp( 0.625rem , 0.5361255572rem  +  0.4457652303vw , 0.8125rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5361255572rem  +  0.4457652303vw , 0.8125rem )) {
    .header__link {
      font-size: calc(0.625rem + 0.1875 * (100vw - 19.9375rem) / 42.0625);
    }
}

  .header__logo {
    margin-right: 20px;
    width: 100px;
  }

@supports (width: clamp( 6.25rem , 5.4205052006rem  +  4.1604754829vw , 8rem )) {
    .header__logo {
      width: clamp( 6.25rem , 5.4205052006rem  +  4.1604754829vw , 8rem );
    }
}

@supports not (width: clamp( 6.25rem , 5.4205052006rem  +  4.1604754829vw , 8rem )) {
    .header__logo {
      width: calc(6.25rem + 1.75 * (100vw - 19.9375rem) / 42.0625);
    }
}

  .header__logo img {
    width: 100%;
    min-width: 6.125rem;
  }

  .header__tel {
    font-size: 13px;
  }

  .header__buttons {
    gap: 15px;
  }

  .header__button {
    font-size: 12px;
    padding: 10px 12px;
  }

  .product {
    padding-right: 20px;
    padding-left: 20px;
  }

  .gallery {
    padding-right: 20px;
    padding-left: 20px;
  }

  .gallery__info {
    border-radius: 8px;
  }

  .gallery__image img {
    border-radius: 8px;
  }

  .gallery__slide {
    border-radius: 8px;
  }
}

@media (max-width: 991px) and (max-width: 19.9375em) {
  .header__link {
    font-size: inherit;
  }

  .header__logo {
    width: inherit;
  }
}

@media (max-width: 768px) {
  .button-orange {
    padding: 12px 14px;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__list {
    margin-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

@supports (font-size: clamp( 0.9375rem , 0.53875rem  +  2vw , 1.5rem )) {
    .header__link {
      font-size: clamp( 0.9375rem , 0.53875rem  +  2vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.53875rem  +  2vw , 1.5rem )) {
    .header__link {
      font-size: calc(0.9375rem + 0.5625 * (100vw - 19.9375rem) / 28.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9113888889rem  +  0.4444444444vw , 1.125rem )) {
    .header__tel {
      font-size: clamp( 1rem , 0.9113888889rem  +  0.4444444444vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9113888889rem  +  0.4444444444vw , 1.125rem )) {
    .header__tel {
      font-size: calc(1rem + 0.125 * (100vw - 19.9375rem) / 28.125);
    }
}

  .header__buttons {
    gap: 35px;
  }

  .header__button {
    padding: 12px 16px;
    font-size: 14px;
    background-color: #fd5000;
  }

  .header__button .img-svg path {
    fill: #fff;
  }

  .menu {
    display: block;
    color: #fff;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0 20px;
    background-color: #2f3035;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    transition: -webkit-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  }

  .menu__strip {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 100px 0;
  }

  .menu__contacts {
    margin-top: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }

  .menu__item {
    color: #fff;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.16px;
  }

@supports (font-size: clamp( 0.75rem , 0.3955555556rem  +  1.7777777778vw , 1.25rem )) {
    .menu__item {
      font-size: clamp( 0.75rem , 0.3955555556rem  +  1.7777777778vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.3955555556rem  +  1.7777777778vw , 1.25rem )) {
    .menu__item {
      font-size: calc(0.75rem + 0.5 * (100vw - 19.9375rem) / 28.125);
    }
}

  .menu__item span {
    font-weight: 500;
  }

  .menu__footer {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 50px 0 30px 0;
  }

  .menu__strip {
    margin: 40px 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .slider__scrollbar {
    margin: 0;
    width: 150px;
  }

  .product__slide {
    border-radius: 8px;
  }

  .product__footer {
    padding-bottom: 0;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .gallery__scrollbar {
    display: block;
    margin: 30px auto 0 auto;
  }

  .gallery__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    text-align: center;
  }

  .form__title {
    padding-bottom: 20px;
  }

  .popup .popup__content {
    max-width: 400px;
  }

  .popup__input {
    width: 100%;
    height: 40px;
  }

  .popup__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) and (max-width: 19.9375em) {
  .header__link {
    font-size: inherit;
  }

  .header__tel {
    font-size: inherit;
  }

  .menu__item {
    font-size: inherit;
  }
}

@media (max-width: 660px) {
  .form__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .header__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .header__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .slider__button-nav {
    display: none;
  }

  .gallery__subtitle {
    display: none;
  }

  .gallery__info {
    gap: 0px;
  }

  .footer {
    padding: 40px 0 30px 0;
  }

  .footer__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .footer__footer {
    padding-top: 40px;
    text-align: center;
  }

  .footer__logo {
    padding-top: 0px;
  }
}

@media (max-width: 375px) {
  .form__container {
    text-align: left;
  }

  .form__input {
    width: 100%;
    height: 40px;
  }

  .form__form {
    width: 100%;
  }

  .form__content {
    max-width: 100%;
  }
}

@media (max-width: 350px) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
  }

  .header__logo {
    width: 100px;
  }
}

@media (max-width: 991px) and (min-width: 62em) {
  .header__link {
    font-size: inherit;
  }

  .header__logo {
    width: inherit;
  }
}

@media (max-width: 768px) and (min-width: 48.0625em) {
  .header__link {
    font-size: inherit;
  }

  .header__tel {
    font-size: inherit;
  }

  .menu__item {
    font-size: inherit;
  }
}

.webp .front{ background: url(../img/main.webp) 60% no-repeat; }