@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Avantgar";
  font-display: swap;
  src: url("../fonts/avantgardegothicc-bold.woff") format("woff"), url("../fonts/avantgardegothicc-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Reg.woff") format("woff"), url("../fonts/FiraSans-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* -------- НАЧАЛО ----------- */
.in-dev {
  margin-top: 60px;
}

@media (max-width: 1110px) {
  .in-dev {
    margin-top: calc(20px + 40 * ((100vw - 320px) / 790));
  }
}

.in-dev h3 {
  font-family: "Avantgar";
  letter-spacing: 5px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 1110px) {
  .in-dev h3 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 790));
  }
}

.g8 {
  background-color: #1e1e1e;
  width: 100%;
}

.g8__container {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .g8__container {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .g8__container {
    padding: 0 20px;
  }
}

.g8__title-white {
  font-family: "Avantgar", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

@media (max-width: 1110px) {
  .g8__title-white {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }
}

.g8__title-transparent {
  font-family: "Avantgar", sans-serif;
  color: #1e1e1e;
  font-size: 48px;
  letter-spacing: 1px;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
}

@media (max-width: 1110px) {
  .g8__title-transparent {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }
}

.g8__red {
  color: #b20000;
}

.g8-task {
  padding-top: 70px;
}

@media (max-width: 1110px) {
  .g8-task {
    padding-top: calc(45px + 25 * ((100vw - 320px) / 790));
  }
}

.g8-task__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.g8-task__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 408px;
          flex: 0 1 408px;
  padding-right: 10px;
}

.g8-task__title {
  margin-top: 38px;
  margin-bottom: 45px;
}

@media (max-width: 1110px) {
  .g8-task__title {
    margin-top: calc(20px + 18 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-task__title {
    margin-bottom: calc(25px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-task__subtitle {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1110px) {
  .g8-task__subtitle {
    font-size: calc(15px + 1 * ((100vw - 320px) / 790));
  }
}

.g8-task__link {
  font-family: "FiraSans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.g8-task__link span {
  margin-left: 7px;
  border-bottom: 2px solid #fff;
  -webkit-transition: border-bottom 0.2s ease 0s;
  -o-transition: border-bottom 0.2s ease 0s;
  transition: border-bottom 0.2s ease 0s;
}

.g8-task__link:hover {
  color: #b8b7b7;
}

.g8-task__link:hover span {
  border-bottom: 2px solid #b8b7b7;
}

.g8-task__img {
  margin-top: 64px;
  width: 100%;
  position: relative;
  height: 480px;
}

@media (max-width: 1110px) {
  .g8-task__img {
    margin-top: calc(30px + 34 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-task__img {
    height: calc(80px + 400 * ((100vw - 320px) / 790));
  }
}

.g8-task__img img {
  position: absolute;
  width: 668px;
  font-size: 40px;
}

@media (max-width: 1110px) {
  .g8-task__img img {
    width: calc(80px + 588 * ((100vw - 320px) / 790));
  }
}

.g8-task__big-img {
  width: 540px;
}

@media (max-width: 1110px) {
  .g8-task__big-img {
    width: calc(180px + 360 * ((100vw - 320px) / 790));
  }
}

.g8-task__big-img img {
  border-radius: 15px;
  width: 100%;
}

@media (max-width: 768px) {
  .g8-task__body {
    display: block;
  }
  .g8-task__img {
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .g8-task__img img {
    position: relative;
    width: 500px;
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__img img {
    width: calc(250px + 250 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) {
  .g8-task__big-img {
    margin-top: 60px;
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__big-img {
    margin-top: calc(20px + 40 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__big-img {
    width: calc(240px + 260 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) {
  .g8-task__big-img img {
    position: relative;
    width: 100%;
  }
  .g8-task__item:first-child {
    padding-right: 0;
  }
  .g8-task__title {
    margin-top: 0;
  }
}

.g8-design {
  margin-top: 90px;
}

@media (max-width: 1110px) {
  .g8-design {
    margin-top: calc(40px + 50 * ((100vw - 320px) / 790));
  }
}

.g8-design__title {
  margin-bottom: 37px;
}

@media (max-width: 1110px) {
  .g8-design__title {
    margin-bottom: calc(25px + 12 * ((100vw - 320px) / 790));
  }
}

.g8-design__slide {
  padding-right: 20px;
}

.g8-design__slide img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1110px) {
  .g8-design__slide {
    padding-right: calc(0px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-design__pagination {
  display: none;
}

@media (max-width: 768px) {
  .g8-design__slide {
    text-align: center;
  }
  .g8-design__slide img {
    padding: 0 5px;
    max-width: 360px;
  }
  .g8-design__pagination {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-design__pagination span {
    width: 11px;
    height: 11px;
    margin: 0 6px;
    background-color: #676767;
  }
  .g8-design__pagination span.swiper-pagination-bullet-active {
    background-color: #b20000;
  }
}

.g8-color {
  margin-top: 130px;
}

@media (max-width: 1110px) {
  .g8-color {
    margin-top: calc(50px + 80 * ((100vw - 320px) / 790));
  }
}

.g8-color__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 1110px) {
  .g8-color__content {
    margin-top: calc(40px + 60 * ((100vw - 320px) / 790));
  }
}

.g8-color__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.g8-color__circle {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-right: 17px;
}

@media (max-width: 1110px) {
  .g8-color__circle {
    width: calc(60px + 24 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-color__circle {
    height: calc(60px + 24 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-color__circle {
    margin-right: calc(10px + 7 * ((100vw - 320px) / 790));
  }
}

.g8-color__black {
  background-color: #000;
  border: 1px solid #fff;
}

.g8-color__red {
  background-color: red;
}

.g8-color__white {
  background-color: #fff;
}

.g8-color__letters {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 400px;
  color: #1e1e1e;
  position: relative;
  top: -50px;
  left: -20px;
  line-height: 100%;
  text-shadow: white 3px 3px 0, white -3px -3px 0, white -3px 3px 0, white 3px -3px 0;
}

@media (max-width: 1110px) {
  .g8-color__letters {
    font-size: calc(150px + 250 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1160px) {
  .g8-color__letters {
    margin: 80px 0 0 0;
  }
}

.g8-color__gilory-bold {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 70px;
}

@media (max-width: 1110px) {
  .g8-color__gilory-bold {
    font-size: calc(34px + 36 * ((100vw - 320px) / 790));
  }
}

.g8-color__gilory-light {
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 80px;
  font-size: 60px;
}

@media (max-width: 1110px) {
  .g8-color__gilory-light {
    font-size: calc(28px + 32 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1160px) {
  .g8-color__gilory-light {
    top: 70px;
  }
}

@media (max-width: 768px) {
  .g8-color__colors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-color__content {
    margin-top: 40px;
    display: block;
  }
  .g8-color__font {
    margin-top: 30px;
    position: relative;
  }
  .g8-color__letters {
    top: 0;
    margin-top: -10px;
    left: 0;
    text-shadow: white 2px 2px 0, white -2px -2px 0, white -2px 2px 0, white 2px -2px 0;
  }
}

@media (max-width: 540px) {
  .g8-color__letters {
    margin-top: 60px;
  }
  .g8-color__gilory-light {
    top: 45px;
  }
  .g8-color__gilory-bold {
    top: -30px;
  }
  .g8-color__gilory-light {
    top: 30px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-color__gilory-light {
    top: calc(10px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-page {
  margin-top: 30px;
}

@media (max-width: 1110px) {
  .g8-page {
    margin-top: calc(40px + -10 * ((100vw - 320px) / 790));
  }
}

.g8-page__title {
  margin-bottom: 15px;
}

.g8-page__img {
  padding-right: 84px;
  padding-left: 84px;
}

@media (max-width: 1110px) {
  .g8-page__img {
    padding-right: calc(0px + 84 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-page__img {
    padding-left: calc(0px + 84 * ((100vw - 320px) / 790));
  }
}

.g8-page__img img {
  width: 100%;
}

.g8-card {
  margin-top: 120px;
}

@media (max-width: 1110px) {
  .g8-card {
    margin-top: calc(50px + 70 * ((100vw - 320px) / 790));
  }
}

.g8-card__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 20px;
}

@media (max-width: 1110px) {
  .g8-card__body {
    grid-gap: calc(10px + 10 * ((100vw - 320px) / 790));
  }
}

.g8-card__red {
  padding-top: 20px;
  padding-left: 25px;
  position: relative;
  background-color: #b20000;
  border-radius: 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0))), #b30000;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #b30000;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #b30000;
}

@media (max-width: 1110px) {
  .g8-card__red {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-card__red {
    padding-left: calc(10px + 15 * ((100vw - 320px) / 790));
  }
}

.g8-card__red:nth-child(8) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.g8-card__text {
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1110px) {
  .g8-card__text {
    font-size: calc(12px + 2 * ((100vw - 320px) / 790));
  }
}

.g8-card__subname {
  padding-top: 17px;
  font-family: "Gilroy", sans-serif;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}

@media (max-width: 1110px) {
  .g8-card__subname {
    font-size: calc(16px + 5 * ((100vw - 320px) / 790));
  }
}

.g8-card__name {
  font-size: 28px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  padding: 7px 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1110px) {
  .g8-card__name {
    font-size: calc(20px + 8 * ((100vw - 320px) / 790));
  }
}

.g8-card__strip {
  height: 6px;
  width: 135px;
}

.g8-card__gold {
  background: url("../img/card/gold.png"), no-repeat;
  background-size: contain;
}

.g8-card__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.g8-card__img-big img {
  width: 136px;
}

@media (max-width: 1110px) {
  .g8-card__img-big img {
    width: calc(0px + 136 * ((100vw - 320px) / 790));
  }
}

.g8-card__platinum {
  background: url("../img/card/platinum.png"), no-repeat;
  background-size: contain;
}

.g8-card__title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

@media (max-width: 991px) {
  .g8-card__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 70px 150px 150px 150px;
    grid-template-rows: 70px 150px 150px 150px;
  }
  .g8-card__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .g8-card__red:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .g8-card__red:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .g8-card__img-big img {
    width: 110px;
  }
}

@media (max-width: 768px) {
  .g8-card__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 70px 150px 150px 150px 150px;
    grid-template-rows: 70px 150px 150px 150px 150px;
  }
  .g8-card__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .g8-card__red:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .g8-card__red:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 540px) {
  .g8-card__container {
    padding: 0 10px;
  }
  .g8-card__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100px 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 150px 150px 150px 150px 150px;
  }
  .g8-card__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .g8-card__red:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .g8-card__red:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .g8-card__red:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .g8-card__red:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .g8-card__img-shoes img {
    width: 220px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-card__img-shoes img {
    width: calc(130px + 90 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 540px) {
  .g8-card__img-big img {
    width: 100px;
  }
  .g8-card__img-big2 img {
    width: 250px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-card__img-big2 img {
    width: calc(125px + 125 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 540px) {
  .g8-card__img-big3 img {
    width: 100px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-card__img-big3 img {
    width: calc(85px + 15 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 540px) {
  .g8-card__img-big4 img {
    width: 240px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-card__img-big4 img {
    width: calc(120px + 120 * ((100vw - 320px) / 790));
  }
}

.g8-info {
  padding-top: 100px;
}

@media (max-width: 1110px) {
  .g8-info {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 790));
  }
}

.g8-info__container {
  position: relative;
  padding-bottom: 150px;
}

@media (max-width: 1110px) {
  .g8-info__container {
    padding-bottom: calc(50px + 100 * ((100vw - 320px) / 790));
  }
}

.g8-info__content {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1110px) {
  .g8-info__content {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-info__img {
  padding-right: 20px;
}

.g8-info__img img {
  width: 100%;
  border-radius: 5px;
}

.g8-info__img3 {
  max-width: 190px;
  padding-top: 70px;
}

@media (max-width: 1110px) {
  .g8-info__img3 {
    max-width: calc(100px + 90 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-info__img3 {
    padding-top: calc(20px + 50 * ((100vw - 320px) / 790));
  }
}

.g8-info__img4 {
  padding-right: 0px;
}

.g8-info__absolute {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.g8-info__absolute img {
  width: 260px;
}

@media (max-width: 1110px) {
  .g8-info__absolute img {
    width: calc(0px + 260 * ((100vw - 320px) / 790));
  }
}

.g8-info__swiper {
  display: none;
}

.g8-info__pagination {
  display: none;
}

@media (max-width: 768px) {
  .g8-info__swiper {
    display: block;
  }
  .g8-info__absolute {
    display: none;
    opacity: 0;
  }
  .g8-info__container {
    padding-bottom: 0;
  }
  .g8-info__content {
    display: none;
  }
  .g8-info__title {
    padding-bottom: 40px;
  }
  .g8-info__slide {
    text-align: center;
  }
  .g8-info__slide img {
    max-width: 320px;
    width: 100%;
    padding: 0 5px;
    border-radius: 15px;
  }
  .g8-info__pagination {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-info__pagination span {
    width: 11px;
    height: 11px;
    margin: 0 6px !important;
    background-color: #676767;
  }
  .g8-info__pagination span.swiper-pagination-bullet-active {
    background-color: #b20000;
  }
}

.g8-adapt {
  padding-top: 90px;
  padding-bottom: 50px;
}

@media (max-width: 1110px) {
  .g8-adapt {
    padding-top: calc(50px + 40 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-adapt {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 790));
  }
}

.g8-adapt__container {
  padding-bottom: 200px;
  position: relative;
}

@media (max-width: 1110px) {
  .g8-adapt__container {
    padding-bottom: calc(50px + 150 * ((100vw - 320px) / 790));
  }
}

.g8-adapt__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

@media (max-width: 1110px) {
  .g8-adapt__flex {
    padding-bottom: calc(20px + 50 * ((100vw - 320px) / 790));
  }
}

.g8-adapt__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.g8-adapt__subtitle {
  font-family: "FiraSans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 408px;
}

.g8-adapt__img {
  max-width: 350px;
  width: 100%;
}

.g8-adapt__img2 {
  margin-top: 100px;
}

.g8-adapt__img3 {
  margin-top: 200px;
}

.g8-adapt__absolute {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.g8-adapt__absolute img {
  width: 708px;
}

@media (max-width: 1110px) {
  .g8-adapt__absolute img {
    width: calc(250px + 458 * ((100vw - 320px) / 790));
  }
}

.g8-adapt__pagination {
  display: none;
}

@media (max-width: 768px) {
  .g8-adapt__img2 {
    margin-top: 0;
  }
  .g8-adapt__flex {
    display: block;
  }
  .g8-adapt__subtitle {
    margin-top: 20px;
  }
  .g8-adapt__img3 {
    margin-top: 0;
  }
  .g8-adapt__slide {
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-adapt__container {
    padding-bottom: 200px;
    position: relative;
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-adapt__container {
    padding-bottom: calc(120px + 80 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) {
  .g8-adapt__pagination {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px;
  }
  .g8-adapt__pagination span {
    width: 11px;
    height: 11px;
    margin: 0 6px !important;
    background-color: #676767;
  }
  .g8-adapt__pagination span.swiper-pagination-bullet-active {
    background-color: #b20000;
  }
}

.g8-last {
  display: none;
}

@media (max-width: 786px) {
  .g8-last {
    display: block;
  }
  .g8-last__body {
    background: #1ab9ec;
    width: 100%;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .g8-last__title {
    font-family: "Avantgar", sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 47px;
  }
}

/* ------------ BURGER -------------- */
