@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Avantgar";
  font-display: swap;
  src: url("../fonts/avantgardegothicc-bold.woff") format("woff"), url("../fonts/avantgardegothicc-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Reg.woff") format("woff"), url("../fonts/FiraSans-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* -------- НАЧАЛО ----------- */
.in-dev {
  margin-top: 60px;
}

@media (max-width: 1110px) {
  .in-dev {
    margin-top: calc(20px + 40 * ((100vw - 320px) / 790));
  }
}

.in-dev h3 {
  font-family: "Avantgar";
  letter-spacing: 5px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 1110px) {
  .in-dev h3 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 790));
  }
}

.g8 {
  background-color: #1e1e1e;
  width: 100%;
}

.g8__container {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .g8__container {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .g8__container {
    padding: 0 20px;
  }
}

.g8__title-white {
  font-family: "Avantgar", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

@media (max-width: 1110px) {
  .g8__title-white {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }
}

.g8__title-transparent {
  font-family: "Avantgar", sans-serif;
  color: #1e1e1e;
  font-size: 48px;
  letter-spacing: 1px;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
}

@media (max-width: 1110px) {
  .g8__title-transparent {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }
}

.g8__red {
  color: #b20000;
}

.g8-task {
  padding-top: 70px;
}

@media (max-width: 1110px) {
  .g8-task {
    padding-top: calc(45px + 25 * ((100vw - 320px) / 790));
  }
}

.g8-task__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.g8-task__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 408px;
          flex: 0 1 408px;
  padding-right: 10px;
}

.g8-task__title {
  margin-top: 38px;
  margin-bottom: 45px;
}

@media (max-width: 1110px) {
  .g8-task__title {
    margin-top: calc(20px + 18 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-task__title {
    margin-bottom: calc(25px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-task__subtitle {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1110px) {
  .g8-task__subtitle {
    font-size: calc(15px + 1 * ((100vw - 320px) / 790));
  }
}

.g8-task__link {
  font-family: "FiraSans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.g8-task__link span {
  margin-left: 7px;
  border-bottom: 2px solid #fff;
  -webkit-transition: border-bottom 0.2s ease 0s;
  -o-transition: border-bottom 0.2s ease 0s;
  transition: border-bottom 0.2s ease 0s;
}

.g8-task__link:hover {
  color: #b8b7b7;
}

.g8-task__link:hover span {
  border-bottom: 2px solid #b8b7b7;
}

.g8-task__img {
  margin-top: 64px;
  width: 100%;
  position: relative;
  height: 480px;
}

@media (max-width: 1110px) {
  .g8-task__img {
    margin-top: calc(30px + 34 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-task__img {
    height: calc(80px + 400 * ((100vw - 320px) / 790));
  }
}

.g8-task__img img {
  position: absolute;
  width: 668px;
  font-size: 40px;
}

@media (max-width: 1110px) {
  .g8-task__img img {
    width: calc(80px + 588 * ((100vw - 320px) / 790));
  }
}

.g8-task__big-img {
  width: 540px;
}

@media (max-width: 1110px) {
  .g8-task__big-img {
    width: calc(180px + 360 * ((100vw - 320px) / 790));
  }
}

.g8-task__big-img img {
  border-radius: 15px;
  width: 100%;
}

@media (max-width: 768px) {
  .g8-task__body {
    display: block;
  }
  .g8-task__img {
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .g8-task__img img {
    position: relative;
    width: 500px;
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__img img {
    width: calc(250px + 250 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) {
  .g8-task__big-img {
    margin-top: 60px;
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__big-img {
    margin-top: calc(20px + 40 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) and (max-width: 1110px) {
  .g8-task__big-img {
    width: calc(240px + 260 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 768px) {
  .g8-task__big-img img {
    position: relative;
    width: 100%;
  }
  .g8-task__item:first-child {
    padding-right: 0;
  }
  .g8-task__title {
    margin-top: 0;
  }
}

.g8-design {
  margin-top: 90px;
}

@media (max-width: 1110px) {
  .g8-design {
    margin-top: calc(40px + 50 * ((100vw - 320px) / 790));
  }
}

.g8-design__title {
  margin-bottom: 37px;
}

@media (max-width: 1110px) {
  .g8-design__title {
    margin-bottom: calc(25px + 12 * ((100vw - 320px) / 790));
  }
}

.g8-design__slide {
  padding-right: 20px;
}

.g8-design__slide img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1110px) {
  .g8-design__slide {
    padding-right: calc(0px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-design__pagination {
  display: none;
}

@media (max-width: 768px) {
  .g8-design__slide {
    text-align: center;
  }
  .g8-design__slide img {
    padding: 0 5px;
    max-width: 360px;
  }
  .g8-design__pagination {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-design__pagination span {
    width: 11px;
    height: 11px;
    margin: 0 6px;
    background-color: #676767;
  }
  .g8-design__pagination span.swiper-pagination-bullet-active {
    background-color: #b20000;
  }
}

.g8-color {
  margin-top: 130px;
}

@media (max-width: 1110px) {
  .g8-color {
    margin-top: calc(50px + 80 * ((100vw - 320px) / 790));
  }
}

.g8-color__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 1110px) {
  .g8-color__content {
    margin-top: calc(40px + 60 * ((100vw - 320px) / 790));
  }
}

.g8-color__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.g8-color__circle {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-right: 17px;
}

@media (max-width: 1110px) {
  .g8-color__circle {
    width: calc(60px + 24 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-color__circle {
    height: calc(60px + 24 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-color__circle {
    margin-right: calc(10px + 7 * ((100vw - 320px) / 790));
  }
}

.g8-color__black {
  background-color: #000;
  border: 1px solid #fff;
}

.g8-color__red {
  background-color: red;
}

.g8-color__white {
  background-color: #fff;
}

.g8-color__letters {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 400px;
  color: #1e1e1e;
  position: relative;
  top: -50px;
  left: -20px;
  line-height: 100%;
  text-shadow: white 3px 3px 0, white -3px -3px 0, white -3px 3px 0, white 3px -3px 0;
}

@media (max-width: 1110px) {
  .g8-color__letters {
    font-size: calc(150px + 250 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1160px) {
  .g8-color__letters {
    margin: 80px 0 0 0;
  }
}

.g8-color__gilory-bold {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 70px;
}

@media (max-width: 1110px) {
  .g8-color__gilory-bold {
    font-size: calc(34px + 36 * ((100vw - 320px) / 790));
  }
}

.g8-color__gilory-light {
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 80px;
  font-size: 60px;
}

@media (max-width: 1110px) {
  .g8-color__gilory-light {
    font-size: calc(28px + 32 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1160px) {
  .g8-color__gilory-light {
    top: 70px;
  }
}

@media (max-width: 768px) {
  .g8-color__colors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .g8-color__content {
    margin-top: 40px;
    display: block;
  }
  .g8-color__font {
    margin-top: 30px;
    position: relative;
  }
  .g8-color__letters {
    top: 0;
    margin-top: -10px;
    left: 0;
    text-shadow: white 2px 2px 0, white -2px -2px 0, white -2px 2px 0, white 2px -2px 0;
  }
}

@media (max-width: 540px) {
  .g8-color__letters {
    margin-top: 60px;
  }
  .g8-color__gilory-light {
    top: 45px;
  }
  .g8-color__gilory-bold {
    top: -30px;
  }
  .g8-color__gilory-light {
    top: 30px;
  }
}

@media (max-width: 540px) and (max-width: 1110px) {
  .g8-color__gilory-light {
    top: calc(10px + 20 * ((100vw - 320px) / 790));
  }
}

.g8-page {
  margin-top: 30px;
}

@media (max-width: 1110px) {
  .g8-page {
    margin-top: calc(40px + -10 * ((100vw - 320px) / 790));
  }
}

.g8-page__title {
  margin-bottom: 15px;
}

.g8-page__img {
  padding-right: 84px;
  padding-left: 84px;
}

@media (max-width: 1110px) {
  .g8-page__img {
    padding-right: calc(0px + 84 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1110px) {
  .g8-page__img {
    padding-left: calc(0px + 84 * ((100vw - 320px) / 790));
  }
}

.g8-page__img img {
  width: 100%;
}

/* ------------ BURGER -------------- */
