@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Arial", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?tr521s");
  src: url("../fonts/icons.eot?tr521s#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?tr521s") format("truetype"), url("../fonts/icons.woff?tr521s") format("woff"), url("../fonts/icons.svg?tr521s#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------- НАЧАЛО ----------- */
._container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  border-bottom: 5px solid #00984a;
}

.header__body {
  padding: 15px 0;
  padding-right: 40px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .header__body {
    padding-right: calc(15px + 25 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__body {
    padding-left: calc(15px + 25 * ((100vw - 320px) / 850));
  }
}

.header__logo {
  width: 180px;
}

@media (max-width: 1170px) {
  .header__logo {
    width: calc(100px + 80 * ((100vw - 320px) / 850));
  }
}

.header__sign {
  color: #000;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__sign img {
  padding-right: 5px;
}

.header__sign:hover {
  color: #00984a;
}

.brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__item {
  position: relative;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.brands__item img {
  width: 100%;
}

.brands__item:not(:last-child) {
  margin-right: 5px;
}

@media (max-width: 1170px) {
  .brands__item:not(:last-child) {
    margin-right: calc(2px + 3 * ((100vw - 320px) / 850));
  }
}

.brands__item:hover .brands__links {
  opacity: 1;
}

.brands__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(34, 33, 33, 0.72);
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #fff;
  width: 240px;
  border: 2px solid #fff;
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@media (max-width: 1170px) {
  .brands__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .brands__link {
    width: calc(120px + 120 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .brands__link:hover {
    background-color: #00984a;
    border: 2px solid #00984a;
  }
}

@media (max-width: 767px) {
  .brands__links {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    position: relative;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 15px 0;
    background-color: #3e3e3e;
  }
  .brands__link {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    height: 50px;
  }
}

@media (max-width: 767px) and (max-width: 1170px) {
  .brands__link {
    height: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767px) {
  .brands__link:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .brands__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .brands__item {
    -webkit-box-flex: 49%;
        -ms-flex: 49%;
            flex: 49%;
  }
  .brands__item:last-child {
    display: none;
  }
}

.prices {
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .prices {
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 850));
  }
}

.prices__container {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1170px) {
  .prices__container {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__container {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.prices__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.prices__item:not(:last-child) {
  padding-right: 20px;
}

@media (max-width: 1170px) {
  .prices__item:not(:last-child) {
    padding-right: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.prices__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  padding: 0 10px;
  padding-top: 50px;
  padding-bottom: 40px;
}

@media (max-width: 1170px) {
  .prices__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__title {
    padding-top: calc(25px + 25 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__title {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.prices__img {
  width: 180px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .prices__img {
    width: calc(130px + 50 * ((100vw - 320px) / 850));
  }
}

.prices__img img {
  width: 100%;
  height: 100%;
}

.prices__name {
  white-space: nowrap;
  padding-top: 20px;
  font-size: 24px;
  line-height: 140%;
  color: #2f2f2f;
}

@media (max-width: 1170px) {
  .prices__name {
    font-size: calc(16px + 8 * ((100vw - 320px) / 850));
  }
}

.prices__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 1170px) {
  .prices__prices {
    padding-top: calc(8px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__prices {
    padding-bottom: calc(8px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__prices {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .prices__prices {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

.prices__old-price {
  text-decoration: line-through;
}

.prices__new-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #008949;
}

@media (max-width: 1170px) {
  .prices__new-price {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

.prices__info {
  font-size: 14px;
  line-height: 130%;
  color: #2f2f2f;
  padding-bottom: 10px;
}

@media (max-width: 1170px) {
  .prices__info {
    font-size: calc(12px + 2 * ((100vw - 320px) / 850));
  }
}

.prices__link a {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #008949;
  color: #fff;
  font-size: 18px;
  font-size: 16px;
  max-width: 200px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .prices__link a {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767px) {
  .prices__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .prices__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) and (max-width: 1170px) {
  .prices__item {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767px) {
  .prices__item:nth-child(2) {
    padding-right: 0;
  }
}

.products {
  padding-bottom: 50px;
}

@media (max-width: 1170px) {
  .products {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.products__body {
  position: relative;
}

.products__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 350px;
  height: 100%;
}

@media (max-width: 1170px) {
  .products__img {
    min-height: calc(140px + 210 * ((100vw - 320px) / 850));
  }
}

.products__title {
  font-size: 42px;
  font-size: 42px;
  line-height: 150%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  margin-left: 120px;
}

@media (max-width: 1170px) {
  .products__title {
    font-size: calc(18px + 24 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .products__title {
    margin-left: calc(20px + 100 * ((100vw - 320px) / 850));
  }
}

.fair {
  padding-bottom: 40px;
}

@media (max-width: 1170px) {
  .fair {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.fair__container {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1170px) {
  .fair__container {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .fair__container {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.fair__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 40px;
}

@media (max-width: 1170px) {
  .fair__title {
    font-size: calc(18px + 14 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .fair__title {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.fair__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fair__img {
  width: 100%;
}

.fair__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fair__img:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1170px) {
  .fair__img:not(:last-child) {
    margin-right: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.fair__text {
  font-size: 24px;
  line-height: 130%;
  color: #2f2f2f;
  padding-top: 30px;
}

@media (max-width: 1170px) {
  .fair__text {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .fair__text {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 500px) {
  .fair__img:last-child {
    display: none;
  }
  .fair__img:nth-child(2) {
    margin-right: 0;
  }
}

.footer {
  text-align: center;
}

.footer__content {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/footer/bg2.png") no-repeat;
  background-size: cover;
}

@media (max-width: 1170px) {
  .footer__content {
    padding-top: calc(25px + 75 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__content {
    padding-bottom: calc(25px + 75 * ((100vw - 320px) / 850));
  }
}

.footer__title {
  padding: 0 10px;
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 1170px) {
  .footer__title {
    font-size: calc(16px + 16 * ((100vw - 320px) / 850));
  }
}

.footer__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  margin: 0 auto;
  padding: 15px;
}

.footer__subtitle {
  padding: 0 10px;
  color: #ffffff;
  font-size: 24px;
  line-height: 120%;
  max-width: 710px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .footer__subtitle {
    font-size: calc(12px + 12 * ((100vw - 320px) / 850));
  }
}

.footer__subtitle-a {
  text-decoration: underline;
  color: #fff;
}

.footer__subfooter {
  padding: 0 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 18px;
}

@media (max-width: 1170px) {
  .footer__subfooter {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__subfooter {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__subfooter {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }
}

/* ------------ BURGER -------------- */
/* 
.menu__icon {
   z-index: 5;
   display: block;
   position: relative;
   width: 30px;
   height: 18px;
}
.menu__icon::before,
.menu__icon::after,
.menu__icon span {
   left: 0;
   position: absolute;
   height: 10%;
   width: 100%;
   transition: all 0.3s ease 0s;
   background-color: #fff;
}
.menu__icon::before,
.menu__icon::after {
   content: "";
}
.menu__icon::before {
   top: 0;
}
.menu__icon::after {
   bottom: 0;
}
.menu__icon span {
   top: 50%;
   transform: scale(1) translate(0, -50%);
}
.menu__icon._active span {
   transform: scale(0) translate(0, -50%);
}
.menu__icon._active::before {
   top: 50%;
   transform: rotate(-45deg) translate(0, -50%);
}
.menu__icon._active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0, 50%);
}
*/
/* ------------ BURGER BODY ---------------- */
/* 
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .menu__body._active {
      left: 0;
   }
   .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: rgb(56, 0, 0);
      z-index: 2;
   }
   .menu__list > li {
      flex-wrap: wrap;
      margin: 0px 0px 30px 0px;
   }
   .menu__list > li:last-child {
      margin: 0px 0px 0px 0px;
   }
   .menu__link {
      font-size: 24px;
   }
   .menu__list > li._active .menu__sub-list {
      display: block;
   }
   .menu__sub-list {
      position: relative;
      background-color: #fff;
      flex: 1 1 100%;
      margin: 20px 0px 0px 0px;
      display: none;
   }
   .menu__sub-link {
      font-size: 20px;
      color: #000;
   }
*/
